.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj

*.sif

.DS_Store

# Generated HTML files (outputs from Rmd knitting)
*.html
# But keep template HTML files that are inputs, not outputs
!templates/*.html
!checklist/**/*.html
